.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

node_modules/
dist/
build/
.vite/
coverage/
cypress/videos/
cypress/screenshots/
cypress/downloads/

.cypress_cache/
.cypress/

*.exe
*.test
*.out
*.mod
*.sum
*.so

vendor/

.idea/
.vscode/

testdata/
.env
.env.*
*.local
*.secret

*.bak
*.old

bin/
tmp/
out/

eslintcache
.prettiercache
